/*
 *
 * 이곳에 CSS 작업을 해주세요!
 * 아래의 CSS 코드는 지우셔도 됩니다!
 *
 * less라는 CSS preprocessor를 사용하셔도 되고, 그냥 파일명은 유지한채 CSS로 작업하셔도 됩니다.
 * http://lesscss.org
 *
*/
html, body, div, span, h1, p, a, em, img, strong, i, ul, li, label, footer, header,nav, section, input, button {
    padding:0;
    margin:0;
    list-style: none;
    text-decoration: none;
    font-style:normal;
    border:0;
    color:#000;
    font-size:13px;
    display:block;
}

.clock_wrap {
    width:500px;
    height:500px;
    border:1px solid #eee;
    margin:50px auto;
}
.clock {
    width:450px;
    height:450px;
    border:1px solid gray;
    border-radius:50%;
    margin:25px auto;
    position:relative;
    background:transparent;
}
.num {
    width:30px;
    height:1px;
    background:gray;
    position:absolute;
}
#top {
    top:15px;
    left:50%;
    margin-left:-15px;
    transform:rotate(90deg);
}
#bottom {
    bottom:15px;
    left:50%;
    margin-left:-15px;
    transform:rotate(90deg);
}
#right {
    right:0;
    top:50%;
    margin-top:-0.5px;      
}
#left {
    left:0;
    top:50%;
    margin-top:-0.5px;
}
#hou {
    width:100px;
    height:1.5px;
    background:gray;
}
#min {
    width:180px;
    background:gray;
}
#sec {
    width:160px;
    border-top: 0.5px dotted skyblue;
}
.dial {
    position:absolute;
    height:1px;
    margin-top:-0.5px;
    left:50%;
    top:50%;
    transform-origin:left;
}

